[mysqld]
default-storage-engine=InnoDB
default-time-zone='+8:00'
innodb_rollback_on_timeout='ON'
innodb_lock_wait_timeout=50
character-set-server=utf8mb4
max_connections = 65535
max_allowed_packet = 100G
query_cache_size = 32M
query_cache_type = 1

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
